.form-control:focus {
  border-color: unset;
  box-shadow: none;
}

// Get rid of all input focus-visible outlines
*:focus-visible {
  outline: none;
}

.fs-ruso {
  font-family: "Russo One", sans-serif;
}

.w-md-60 {
  width: 85% !important;
}

.w-md-45 {
  width: 45% !important;
}

@media (max-width: 1199px) and (min-width: 999px) {
  #retail-border {
    border-right: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }

  .w-md-30 {
    width: 30% !important;
  }

  .w-md-10 {
    width: 10% !important;
  }
}

@media (max-width: 999px) and (min-width: 767px) {
  .adjust-width-input {
    width: 30% !important;
  }

  .vo-full-width {
    width: 80% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-45 {
    width: 45% !important;
  }

  .remove-border-right {
    border-right: none !important;
  }
}

@media (max-width: 500px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
